html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.menu {
    width: 100%;
    height: 71px;
    margin: 0px auto;
    background-color: #ffffff;
    padding: 0 0 0 0;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}

.menu img {
    margin-top: .3%

    margin-left: 2%

}

.menu ul {
    height: auto;
    padding: 1px 0px;
    margin: 0 auto;
}

.menu li {
    float: center;
    display: inline;
    padding: 0 15px 0 1px;
    margin: 0 45px 0 0;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -o-transition: .8s;
    -ms-transition: .8s;
    -moz-transition: .8s;
    -webkit-transition: .8s;
    transition: .8s;
}

.header {
    width: 100%;
    height: 69px;
    margin: 0px auto;
    background-color: #2C3E50;
    padding: 0 0 0 0;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}


.bg-image {
	height: 700px;
	width: 100%; }

.bg-image-capitol {
	background-image: url(http://www.iamthemodernman.biz/directdem/alt/directdemcapitolbuilding5.jpg);
	/* lt ie8 */
	-ms-background-position-x: center;
	-ms-background-position-y: bottom;
	/* default - may override with classes or media query */
	background-position: center bottom;
	/* scale bg image proportionately */
	background-size: cover;
	/* ie8 polyfill */
	-ms-behavior: url(backgroundsize.min.htc);
	/* prevent scaling past src width (or not) */
	/* max-width: 1200px; */ }

.bg-center-center {
	-ms-background-position-x: center;
	-ms-background-position-y: center;
	background-position: center center; }


.background {
    height:0; 
    padding-bottom:40%;
    background-image: url(http://www.iamthemodernman.biz/directdem/alt/directdemcapitolbuilding.jpg);
    background-position: center bottom;
	  /* scale bg image proportionately */
	  background-size: cover; 
}


.bg-image h1 {

    font-size: 57px;
    color: #E6E6E6;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    text-align: center;
    top: 260px;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
}













