<!DOCTYPE html>
<html>
<head>
  <title>Direct Dem - Using Technology To Bring Direct Democracy To We The People</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="menu">
<ul>
                 <li id="logo"><img src="http://www.iamthemodernman.biz/directdem/alt/directdemlogoblack.png" alt="Direct Dem logo" height="59" width="264"></li>
  
               </ul>
</div>





<%= yield %>


</body>










</html>
